.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .panel {
        width: 95%;
        height: 95%;
        border-radius: 15px;
        overflow: hidden;

        display: grid; 
        grid-template-columns: 0.3fr 1.3fr; 
        grid-template-rows: 0.1fr 1.8fr; 
    }
}
