.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .panel {
        width: 95%;
        height: 95%;
        background-color: #fff;
        border-radius: 20px;
    }
}
